---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.jsx";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portafolio 2026 - Jorge Soto</title>
  </head>

  <body class="bg-lightbg dark:bg-darkbg transition-colors">
    <Navbar />
    <Hero client:load />
  </body>
</html>
